*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;
overflow-x:hidden;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
135deg,
#ff4b91,
#ff8fab,
#ffc6ff);

text-align:center;
}

.container{

padding:20px;
color:white;
width:90%;
max-width:500px;
z-index:10;
}

h1{

margin-bottom:10px;

animation:bounce 2s infinite;
}

h2{
margin-bottom:20px;
}

#typing{

font-size:18px;
margin:20px 0;
min-height:70px;
}

#countdown{

margin-bottom:20px;
}

.slideshow img{

width:100%;
max-width:300px;
height:350px;

object-fit:cover;

border-radius:20px;

box-shadow:0 0 15px rgba(0,0,0,0.3);
}

button{

margin-top:20px;

padding:15px 30px;

font-size:18px;

border:none;
border-radius:30px;

cursor:pointer;
}

#giftMessage{

display:none;

font-size:28px;

margin-top:20px;

animation:zoom 1s;
}

#letter{

display:none;

background:white;

color:black;

padding:20px;

margin-top:20px;

border-radius:20px;
}

#fireworks{

display:none;

font-size:40px;

margin-top:20px;

animation:blink 1s infinite;
}

.hearts{

position:absolute;
top:0;
left:0;

width:100%;

font-size:25px;

animation:heartFall 10s linear infinite;
}

.balloon{

position:absolute;

bottom:-100px;

left:10%;

font-size:50px;

animation:float 8s linear infinite;
}

.b2{

left:50%;

animation-delay:2s;
}

.b3{

left:80%;

animation-delay:4s;
}

.confetti{

position:absolute;
font-size:25px;
top:-50px;
}

@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}
}

@keyframes zoom{

from{
transform:scale(0);
}

to{
transform:scale(1);
}
}

@keyframes blink{

0%,100%{
opacity:1;
}

50%{
opacity:0;
}
}

@keyframes float{

from{
bottom:-100px;
}

to{
bottom:120%;
}
}

@keyframes heartFall{

from{
transform:translateY(-100px);
}

to{
transform:translateY(100vh);
}
}